---
layout: post
---

<style>
    input, button, textarea {
        display: block;
        width: 50%;
        margin: 10px 0;
        padding: 10px;
    }

    .name-input {
        border-radius: 10px;
        border: 1px solid #eee;
        transition: .3s border-color;
    }

    .name-input:hover {
        border: 1px solid #aaa;
    }

    .email-input {
        border-radius: 10px;
        border: 1px solid #eee;
        transition: .3s border-color;
    }

    .email-input:hover {
        border: 1px solid #aaa;
    }

    .message-input {
        border-radius: 10px;
        border: 1px solid #eee;
        transition: .3s border-color;
        width: 75%;
    }

    .message-input:hover {
        border: 1px solid #aaa;
    }

    button {
        padding: 10px;
        border: none;
        color: #000000;
        font-weight: 600;
        border-radius: 5px;
        width: 25%
    }
</style>

<h1>Contact me</h1>

I’ll get back to you within 24 hours!

<br />
<br />

<div class="contact-form">
    <form action="https://formspree.io/f/xleawakr" method="POST">
        <label>
            <input type="text" class="name-input" placeholder="Name">
        </label>
        <label>
            <input type="text" class="email-input" placeholder="Email">
        </label>
        <label>
            <textarea name="message" class="message-input" placeholder="Your message:"></textarea>
        </label>

        <!-- your other form fields go here -->

        <button type="submit">Send</button>
    </form>
</div>